@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@200;600&family=Poppins:ital,wght@0,500;1,300&family=Red+Rose:wght@500&display=swap');



*{
  color: aliceblue;
}
body  {
  background-image: url(./images/bg_for_10.jpg);
  /* background-position: center; */
  /* background-position: ; */
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}
.logo{
  font-size: 25px;
  margin-left: 10px;
  /* margin: 1em; */
  display: inline-block;
}
.burger{
  display: none;
  font-size: 20px;
  position: relative;
  top: -20px;
}
nav{
  float: right;
  width: auto;
  color: aliceblue;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align:left;
  align-content: space-evenly;
  gap: 40px;
  
  /* border: 2px solid white; */
}
nav a{
  /* padding: 30px; */
}

nav a:hover{
  transform: scale(1.2);
  cursor: pointer;
}
.line{
  float: right;
  border: 0.5px solid white;
  width: 1000px;
  height: 0px;
  background-color: white;
}
.learn{
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 30px;
    font-size: 20px;
  }
  .header-text{
    position: relative;
    left: 100px;
    top: 100px;
    font-size: 35px;
    margin: 40px;
  }
  .box1{
    position: relative;
    bottom: 300px;
    left: 1100px;
    border: none;
    width: 250px;
    background: rgba(243, 243, 243,0.3);
    padding: 20px;
  }
  .box1 button{
    
    border-radius: 20px;
    font-size: 30px;
    border: none;
    padding: 10px 20px;
    background-color: aliceblue;
  }
  .box1 i{
    color: black;
    /* border: 2px solid black; */
  }
  .box2{
    position: relative;
    bottom: 200px;
    left: 700px;
    border: none;
    width: 250px;
    background: rgba(243, 243, 243,0.3);
    padding: 20px;
  }
  .box2 button{
    
    border-radius: 20px;
    font-size: 30px;
    border: none;
    padding: 10px 20px;
    background-color: aliceblue;
  }
  .box2 i{
    color: black;
    /* border: 2px solid black; */
  }
.vertical-line{
  position: relative;
  bottom: 475px;
  left: 1250px;
  border: 0.5px solid white;
  height: 100px;
  background-color: aliceblue;
  width: 0px;
}
.horizontal-line{
  
  position: relative;
  bottom: 400px;
  left: 990px;
  border: 0.5px solid white;
  width: 100px;
  background-color: aliceblue;
  height: 0px;
}
.circle-top{
  
  position: relative;
  bottom: 475px;
  left: 1244px;
  background-color: white;
  border: 2px solid whitesmoke;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}
.circle-bottom{
  position: relative;
  bottom: 410px;
  left: 1090px;
  background-color: white;
  border: 2px solid whitesmoke;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}
@media screen and (max-width:1150px) {
  .line{
    /* display: none; */
    width: 800px;
  }
  .header-text{
    position: relative;
    left: auto;
    top: 100px;
    font-size: 35px;
    margin: 40px;
  }
  .burger{
    display: inline-block;
  }
  nav{
    gap: 20px
  }
  .box1{
    position: relative;
    bottom: -100px;
    left: 50px;
    border: none;
    width: 250px;
    background: rgba(243, 243, 243,0.3);
    padding: 20px;
  }
  .box2{
    position: relative;
    bottom: 70px;
    left: 400px;
    border: none;
    width: 250px;
    background: rgba(243, 243, 243,0.3);
    padding: 20px;
  }
  .blob1{
    display: none;
  }
  .blob{
    display:none;
  }

}
@media screen and (max-width:950px) {

  .line{
    display: none;
  }
  nav a{
    display: none;
  }
  .box1{
    position: relative;
    bottom: -100px;
    left: 50px;
    border: none;
    width: 250px;
    background: rgba(243, 243, 243,0.3);
    padding: 20px;
  }
  .box2{
    position: relative;
    bottom: -120px;
    left: 50px;
    border: none;
    width: 250px;
    background: rgba(243, 243, 243,0.3);
    padding: 20px;
  }
  .blob1{
    display: none;
  }
  .blob{
    display:none;
  }
  body{
    background-size: 2000px;
  }
}